<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="~/css/dinamic.css">
    <link rel="icon" type="image/x-icon" href="~/images/laptop.png"/>
    <title>@ViewData["Title"] - Quiq_Application</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quiq_Application.styles.css" asp-append-version="true" />
</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <div class="header__container">
            <a href="#" class="header__logo">
                <span>Ashraf 	&reg;</span>
            </a>

            <button class="header__toggle" id="header-toggle">
                <i class="ri-menu-line"></i>
            </button>
        </div>
    </header>

    <!--=============== SIDEBAR ===============-->
    <nav class="sidebar" id="sidebar">
        <div class="sidebar__container">
            <div class="sidebar__user">
                <div class="sidebar__img">
                    <img src="~/images/student.png" alt="image">
                </div>
                <div class="sidebar__info">
                    <h3>Student</h3>
                    <span>Welcom @ViewBag.Username</span>
                </div>
            </div>

            <div class="sidebar__content">
                <div>
                    <h3 class="sidebar__title">MANAGE</h3>

                    <div class="sidebar__list">
                        <a asp-action="Index" asp-controller="Student" class="sidebar__link">
                            <i class="ri-twitch-line"></i>
                            <span>Dashboard</span>
                        </a>
                        <a asp-action="StudentProfile" asp-controller="Student" class="sidebar__link">
                            <i class="ri-twitch-line"></i>
                            <span>Profile</span>
                        </a>
                    </div>
                </div>

                <div>
                    <h3 class="sidebar__title">Students Quizes</h3>

                    <div class="sidebar__list">
                        <a asp-action="StudentQuiz" asp-controller="Student" class="sidebar__link">
                            <i class="ri-twitch-line"></i>
                            <span>Quizes</span>
                        </a> 
                        <a asp-action="StudentResult" asp-controller="Student" class="sidebar__link">
                            <i class="ri-twitch-line"></i>
                            <span>Results</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sidebar__actions">
                <button>
                    <i class="ri-moon-clear-fill sidebar__link sidebar__theme" id="theme-button">
                        <span>Theme</span>
                    </i>
                </button>

                <button class="sidebar__link">
                    <i class="ri-logout-box-r-fill"></i>
                    <a asp-controller="Home" asp-action="Login" style="text-decoration:none;color:">Log Out</a>
                    <span></span>
                </button>
            </div>
        </div>
    </nav>

    <!--=============== MAIN ===============-->
    <main class="main container" id="main">
        @RenderBody()
    </main>
    <!--======================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/dinamic.js"></script>
</body>
</html>